pipeline/PL_MASTER_INCREMENTAL_LOAD.json
{
	"name": "PL_MASTER_INCREMENTAL_LOAD",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    TableSchema,\n    TableName,\n    WatermarkColumn,\n    LastLoadValue\nFROM dbo.ADF_Watermark_Table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_INCREMENTAL_LOAD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": "@item().TableSchema",
									"TableName": "@item().TableName",
									"WatermarkColumn": {
										"value": "@item().WatermarkColumn",
										"type": "Expression"
									},
									"LastLoadValue": {
										"value": "@item().LastLoadValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 2,
		"annotations": [],
		"lastPublishTime": "2026-03-28T09:17:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}